<div class ="left_inner_element">
  <div class="l_upper_element">
    <div class="coaches_committed" id="<%= "coaches_committed#{day}#{hour}" %>"><%= data[:committed_coaches] %></div>
    <div class="coaches_available" id="<%= "coaches_available#{day}#{hour}" %>"><%= data[:available_coaches] %></div>
  </div>
  <div class="l_lower_element"><%= data[:classes] %> : <%= data[:avg_attendance] %>
  </div>
</div>