<%= form_tag view_coach_profiles_path, :class => 'general-form' do -%>
  <label>Select Coach to view the profile:</label>
  <%=select_tag :coach_id, options_for_coach(@coaches, params[:coach_id]), {:style => "width:180px;"}-%>
  <input type="submit" class="btn" value="View Profile" onClick="return checkCoachSelected('coach_id')"/>
<% end -%>
<% if @coach -%>
  <%if @locked%>
    <%= render :partial => 'shared/locked_profile' -%>
  <%else%>
    <div id="profile-header-cta">
      <h3><%= @coach.display_name -%></h3>
      <div class="left" style="padding-right:10px;float:right">
        <%= link_to "Sign in as #{@coach.display_name}", sign_in_as_my_coach_path(@coach) -%>
        <%unless tier1_support_lead_logged_in?%>|
          <%= link_to "View #{@coach.display_name}'s Availability Templates", "/availability/#{@coach.id}" -%>
        <%end%>
      </div>
      <%unless tier1_support_lead_logged_in?%>
        <form action = '/inactivate_coach'  id="active_coach" method='post'>
          <%= hidden_field_tag 'coach_id', @coach.id -%>
          <%= hidden_field_tag 'check_box_value' ,false -%>
          <div style="float:right ; padding-right: 120px ; clear:both ;" id ="div_activate_coach">
            <b>Active?</b>
            <%=check_box_tag "inactive_check", true , @coach.active ,  :onclick => "confirm_coach_inactive()" %>
            <div id ="update_after_check">
            </div>
            <%= image_tag 'spinner_transp.gif',:id => 'reassign_ajaxLoader_main', :style => "display :none" %>
          </div>
        </form>
      <%end%>
    </div>
    <%= render :partial => 'shared/view_profile' -%>
  <%end%>
<% end -%>