<div id="attended_session_coach_details" style="display:none">
  <br />
  <%= link_to_learner_profile("Back to learner's profile page", @learner) %>
  <%= render :partial => 'shared/view_profile'%>
</div>
<div id="skipped_session_coach_details" style="display:none">
  <br />
  <%= link_to_learner_profile("Back to learner's profile page", @learner) %>
  <%= render :partial => 'shared/view_profile'%>
</div>
<div id="next_session_coach_details" style="display:none">
  <br />
  <%= link_to_learner_profile("Back to learner's profile page", @learner) %>
  <%= render :partial => 'shared/view_profile'%>
</div>