<div id="edit_local_session" style="float:left">
  
  <% if @session_details[:coaches].any? %>
    <div class="right_container" style="width: 100%;">
      <div id="excluded_coaches_list_div" style="float: left;margin-top: 10px;width: 50%">
        Included Coaches: <br/>
        <%= render(:partial => 'coach_lists', :locals => {:coaches => @session_details[:coaches], :excluded_coaches => @session_details[:excluded_coaches]} )%>
      </div>
      <div id="tmm_container" style="float: right;width: 45%">

        <div id ="session_name_container" style="width: 50%">
          <span class="wildcard">Session Name</span>
          <%= text_field_tag 'session_name_txt', @session_details[:session_name] %>
        </div>
      </div>

    </div>
	<%= hidden_field_tag "number_of_seats",1 %>
	<div id="tmm_session_detail_div" style="width: 100%; float: left;">
	  <br><span style="float: left;">Session Details:</span><br />
	  <textarea id="tmm_session_detail" class="tmm_session_detail_edit_div" ><%= @session_details[:details] %></textarea>
	  <p style="padding-top: 2px">Characters remaining: <span id="char_count"><%= 500 - (@session_details[:details] ? @session_details[:details].length : 0) %></span></p>
	</div>
    <div id="level_unit_container" style="float: right; position: relative; margin-bottom: 0;">
      <div id="button_container" style="float: right; margin-top: 10px;">
        <input type = "button" id = "edit_extra_session_btn_lotus" class = "button" value = "SAVE" onclick ="updateExtraSessions('<%= @session_details[:extra_session].id %>', '<%= @session_details[:type] %>',this)"/>
      </div>
    </div>
  <% else %>
    There are no coaches available at this timeslot.
  <% end %>

</div>
